<!-- Footer -->
<footer>
    <!-- Footer [links] -->
    <section id="footer" class="footer">
        <div class="container">
            <div class="row items footer-widget">
                <div class="col-12 col-lg-3 p-0">
                    <div class="row">
                        <div class="branding col-12 p-3 text-center text-lg-left item">
                            <div class="brand">
                                <a href="/" class="logo">
                                    Every Mile Matters.                                 
                                    <!-- 
                                        Custom Logo
                                        <img src="assets/images/logo.svg" alt="Leverage">
                                    -->
                                </a>
                            </div>
                            <p>We intend to run 6721 miles across 2021 – a mile for every suicide and every tragic story behind it.</p>
                            <ul class="navbar-nav social share-list mt-0 ml-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9 p-0">                            
                    <div class="row">
                        <div class="col-12 col-lg-4 p-3 text-center text-lg-left item">
                            <h4 class="title">Make a Donation</h4>
                            <p>Donating is safe, secure and easy using JustGiving.</p>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="https://www.justgiving.com/team/6721" class="mt-4 mr-auto ml-auto ml-lg-0 btn primary-button"><i class="icon-heart"></i>DONATE</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-8 p-3 text-center text-lg-left item">
                            <h4 class="title">Jonathan’s Voice</h4>
                            <p>We are supporting <a href="{{ site.baseurl }}{% link jonathansvoice.markdown %}">Jonathan’s Voice</a> as our core charity. Jonathan’s Voice was set up shortly after Jon’s death in order to reduce the stigma associated with mental health issues and to educate organisations especially, but not exclusively, in the professional working environment to support employees and develop better mental health practices in the workplace.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Copyright -->
    <section id="copyright" class="p-3 copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                    <p><a href="{{ site.baseurl }}{% link privacy.markdown %}">Privacy Policy</a> <a href="https://www.time-to-change.org.uk/asktwice" target="_blank">Ask twice</a>.</p>
                </div>
                <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                    <p>Thanks <a href="https://github.com/davehorsfall/everymilematters-jekyll" target="_blank">Github pages</a>.</p>
                </div>
            </div>
        </div>
    </section>
</footer>