<!-- Header -->
<header id="header">
    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header">
            <!-- Navbar Brand-->
            <a class="navbar-brand" href="{% link index.markdown %}">
                #6721<i class="leverage-2-0">2021</i>
                <!-- 
                    Custom Logo
                    <img src="assets/images/logo.svg" alt="Leverage">
                -->
            </a>
            <!-- Nav holder -->
            <div class="ml-auto"></div>
            <!-- Navbar Items -->
            <ul class="navbar-nav items">
                <li class="nav-item">
                    <a href="#skills" class="nav-link smooth-anchor">About</a>
                </li>
                <li class="nav-item">
                    <a href="#aims" class="nav-link smooth-anchor">Aims</a>
                </li>
                <li class="nav-item">
                    <a href="#carousel" class="nav-link smooth-anchor">Team</a>
                </li>
                <li class="nav-item">
                    <a href="{% link blog.markdown %}" class="nav-link">Blog</a>
                </li>
            </ul>
            <!-- Navbar Icons -->
            <ul class="navbar-nav icons">
                <li class="nav-item social">
                    <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                </li>
                <li class="nav-item social">
                    <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                </li>
            </ul>
            <!-- Navbar Toggle -->
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="icon-menu m-0"></i>
                    </a>
                </li>
            </ul>
            <!-- Navbar Action -->
            <ul class="navbar-nav action">
                <li class="nav-item ml-3">
                    <a href="https://www.justgiving.com/team/6721" class="btn ml-lg-auto primary-button"><i class="icon-heart"></i>DONATE</a>
                </li>
            </ul>
        </div>
    </nav>
</header>