<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="home">
    {%- include header.html -%}
    {{ content }}
    {%- include footer.html -%}

    <!-- Modal [responsive menu] -->
    <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout" role="document">
            <div class="modal-content full">
                <div class="modal-header" data-dismiss="modal">
                    Menu <i class="icon-close"></i>
                </div>
                <div class="menu modal-body">
                    <div class="row w-100">
                        <div class="items p-0 col-12 text-center">
                            <!-- Append [navbar] -->
                        </div>
                        <div class="contacts p-0 col-12 text-center">
                            <!-- Append [navbar] -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll [to top] -->
    <div id="scroll-to-top" class="scroll-to-top">
        <a href="#header" class="smooth-anchor">
            <i class="icon-arrow-up"></i>
        </a>
    </div>        
    
    <!-- Vendor Scripts -->
    <script src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/jquery.easing.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/jquery.inview.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/popper.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/ponyfill.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/slider.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/animation.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/progress-radial.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/bricklayer.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/gallery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/shuffle.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/cookie-notice.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/particles.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
      