---
layout: default
---
<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-center">
                <img src="assets/images/bg-runner.jpg" class="full-image" data-mask="0">
                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="center align-self-center text-center">
                            <a href="#skills" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto"><img data-aos="zoom-out-up" data-aos-delay="400" class="title-image" src="assets/images/emm.svg" alt="Every Mile Matters"></a>
                            <!--<h2 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Every Mile<br>Matters</h2>-->
                            <!--<a href="#skills" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button">RUNNING FOR<BR />MENTAL HEALTH</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="skills" class="section-3 counter skills">
    <div class="container">
        <div class="row text-center intro">
            <div class="col-12">
                <h2 class="super effect-static-text">We are running 6721 miles this year</h2>
                <h3 class="super effect-static-text">One mile for every recorded UK suicide in 2019</h3>
            </div>
        </div>          
        <div data-aos-id="counter" data-aos="fade-up" data-aos-delay="200" class="row justify-content-center text-center items">
            <div class="col-12 col-md-6 col-lg-6 item">
                <div data-percent="15" class="radial">
                    <span></span>
                </div>
                <h4>1064 Miles Run</h4>
                <a href="https://www.strava.com/clubs/everymilematters" class="btn primary-button smooth-anchor m-auto">Strava</a>
            </div>
            <div class="col-12 col-md-6 col-lg-6 item">
                <div data-percent="35" class="radial">
                    <span></span>
                </div>
                <h4>£2327 Raised</h4>
                <a href="https://www.justgiving.com/team/6721" class="btn primary-button smooth-anchor m-auto">JustGiving</a>
            </div>
        </div>
    </div>
</section>
<section id="aims" class="section-2 aims">
    <div class="container smaller">
        <div class="row text-center intro">
            <div class="col-12">
                <h2 class="super effect-static-text">Background and Aims</h2>
                <p class="text-max-800 py-3">Suicide, particularly male suicide, is a growing problem in the UK, and around the world. The statistics are stark. 6721 people died by suicide in the UK in 2019. This was a significant increase from 2018, and one which appears to be driven by the male suicide rate. Suicide remains the UK’s biggest single killer of men under the age of 45. Worrying trends are also emerging among young people – in the UK, suicide rates amongst the young have been increasing in recent years and the suicide rate for young females is now at its highest on record. Whilst data for 2020 is still provisional, the trends show no sign of reversing and there is real concern regarding the longer-term impact of recent lockdowns on mental health issues of all kinds.</p>
                <p class="text-max-800 py-3"><a href="{{ site.baseurl }}{% link aims.markdown %}" class="btn m-auto primary-button">READ MORE</a></p>
            </div>
        </div>
    </div>
</section>
<section id="carousel" class="section-1 carousel showcase">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2 class="super effect-static-text">Team</h2>
                    <p class="text-max-800">We’re a group of twelve friends from Durham University all of whom have an interest in raising awareness of mental health issues and want to take part in a running challenge together.</p>
                </div>
            </div>
            <div class="swiper-container mid-slider items">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/work-4.jpg" class="image-over">
                                    <img src="assets/images/work-4.jpg" alt="Ali Sargeant">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Ali Sargeant</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/team/andy.jpg" class="image-over">
                                    <img src="assets/images/team/andy.jpg" alt="Andy">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Andy</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>I'm running in memory of the family, friends and colleagues no longer with us</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/work-6.jpg" class="image-over">
                                    <img src="assets/images/work-6.jpg" alt="Andrew Higgins">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Andrew Higgins</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/work-7.jpg" class="image-over">
                                    <img src="assets/images/work-7.jpg" alt="Ben Dixon">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Ben Dixon</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/team/dave.jpg" class="image-over">
                                    <img src="assets/images/team/dave.jpg" alt="Dave">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Dave</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>I'm running to raise awareness, and stay connected with old friends</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/work-9.jpg" class="image-over">
                                    <img src="assets/images/work-9.jpg" alt="Mark Fyson">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Mark Fyson</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/team/oliver.jpg" class="image-over">
                                    <img src="assets/images/team/oliver.jpg" alt="Oliver">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Oliver</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>I'm running to stay closer to my friends, improve my wellbeing and raise awareness.</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/work-9.jpg" class="image-over">
                                    <img src="assets/images/work-9.jpg" alt="Paul Meller">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Paul Meller</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/team/pete.jpg" class="image-over">
                                    <img src="assets/images/team/pete.jpg" alt="Pete">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Pete</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Sharing a positive challenge to draw attention to a serious issue.</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card p-0 text-center">
                            <div class="gallery">
                                <a href="assets/images/work-9.jpg" class="image-over">
                                    <img src="assets/images/work-9.jpg" alt="Phil Holliday">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Phil Holliday</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section id="video" class="section-3 highlights image-center">
    <div class="container smaller">
        <div class="row text-center intro">
            <div class="col-12">
                <h2>24 Hour Relay</h2>
                <p class="text-max-800">On 27th February 2021 we ran a relay for 24 consecutive hours, to raise awareness of mental health.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 gallery">
                <a href="https://www.youtube.com/watch?v=QXPtJ5rRM-M" class="square-image d-flex justify-content-center align-items-center">
                    <i class="icon bigger icon-control-play"></i>
                    <img src="assets/images/news-4.jpg" class="fit-image" alt="A 24 hour relay across 3 continents">
                </a>
            </div>
        </div>
    </div>
</section>