---
layout: default
---
        <!-- Header -->
        <header id="header">

          <!-- Navbar -->
          <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
              <div class="container header">

                  <!-- Navbar Brand-->
                  <a class="navbar-brand" href="/">
                      #6721<i class="leverage-2-0">2021</i>
                      <!-- 
                          Custom Logo
                          <img src="assets/images/logo.svg" alt="Leverage">
                      -->
                  </a>

                  <!-- Nav holder -->
                  <div class="ml-auto"></div>

                  <!-- Navbar Items -->
                  <ul class="navbar-nav items">
                      <li class="nav-item">
                          <a href="#skills" class="nav-link smooth-anchor">About</a>
                      </li>
                      <li class="nav-item">
                          <a href="#aims" class="nav-link smooth-anchor">Aims</a>
                      </li>
                      <li class="nav-item">
                          <a href="#carousel" class="nav-link smooth-anchor">Team</a>
                      </li>
                      <li class="nav-item">
                          <a href="" class="nav-link smooth-anchor">Blog</a>
                      </li>
                  </ul>

                  <!-- Navbar Icons -->
                  <ul class="navbar-nav icons">
                      <li class="nav-item social">
                          <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                      </li>
                      <li class="nav-item social">
                          <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                      </li>
                  </ul>

                  <!-- Navbar Toggle -->
                  <ul class="navbar-nav toggle">
                      <li class="nav-item">
                          <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                              <i class="icon-menu m-0"></i>
                          </a>
                      </li>
                  </ul>

                  <!-- Navbar Action -->
                  <ul class="navbar-nav action">
                      <li class="nav-item ml-3">
                          <a href="https://www.justgiving.com/team/6721" class="btn ml-lg-auto primary-button smooth-anchor"><i class="icon-heart"></i>DONATE</a>
                      </li>
                  </ul>
              </div>
          </nav>

      </header>

      <!-- Hero -->
      <section id="slider" class="hero p-0 odd featured">
          <div class="swiper-container no-slider animation slider-h-100">
              <div class="swiper-wrapper">

                  <!-- Item 1 -->
                  <div class="swiper-slide slide-center">
                      <img src="assets/images/bg-runner.jpg" class="full-image" data-mask="0">
                      <div class="slide-content row">
                          <div class="col-12 d-flex inner">
                              <div class="center align-self-center text-center">
                                  <h2 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Every Mile<br>Matters</h2>
                                  <a href="#skills" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button">RUNNING FOR<BR />MENTAL HEALTH</a>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>
      <section id="skills" class="section-3 counter skills">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h3 class="super effect-static-text">We intend to run 6721 miles across 2021 – a mile for every suicide and every tragic story behind it. </h3>
                </div>
            </div>          
            <div data-aos-id="counter" data-aos="fade-up" data-aos-delay="200" class="row justify-content-center text-center items">
                <div class="col-12 col-md-6 col-lg-6 item">
                    <div data-percent="60" class="radial">
                        <span></span>
                    </div>
                    <h4>3125 Miles Run</h4>
                    <a href="https://www.strava.com/clubs/everymilematters" class="btn primary-button smooth-anchor m-auto">Strava</a>
                </div>
                <div class="col-12 col-md-6 col-lg-6 item">
                    <div data-percent="84" class="radial">
                        <span></span>
                    </div>
                    <h4>£1654 Raised</h4>
                    <a href="https://www.justgiving.com/team/6721" class="btn primary-button smooth-anchor m-auto">JustGiving</a>
                </div>
            </div>
        </div>
      </section>


      <!-- Subscribe -->
      <section id="aims" class="section-2 aims">
          <div class="container smaller">
              <div class="row text-center intro">
                  <div class="col-12">
                      <h2 class="super effect-static-text">Background and Aims</h2>
                      <p class="text-max-800 py-3">Suicide, particularly male suicide, is a growing problem in the UK, and around the world. The statistics are stark. 6721 people died by suicide in the UK in 2019. This was a significant increase from 2018, and one which appears to be driven by the male suicide rate. Suicide remains the UK’s biggest single killer of men under the age of 45. Worrying trends are also emerging among young people – in the UK, suicide rates amongst the young have been increasing in recent years and the suicide rate for young females is now at its highest on record. Whilst data for 2020 is still provisional, the trends show no sign of reversing and there is real concern regarding the longer-term impact of recent lockdowns on mental health issues of all kinds.</p>
                      <p class="text-max-800 py-3">These are awful facts to face and each of the 6721 deaths carries its own devastating story, its own reverberations through families, friends and wider society. This is why we want to take on a challenge that represents every one of those individuals and, in the process, draw attention to an issue that needs more exposure and understanding.</p>
                      <p class="text-max-800 py-3">We intend to run 6721 miles across 2021 – a mile for every suicide and every tragic story behind it.</p>
                      <p class="text-max-800 py-3">This challenge has been driven not just by a broad desire to raise awareness of mental health issues and suicide in particular, but also by very personal stories of friends, colleagues and family impacted directly by suicide.</p>
                      <p class="text-max-800 py-3">One such was a close university friend, Jon McCartney. Jon was a wonderful guy to know – a passionate Nottingham Forest fan, successful patent attorney, BBQ enthusiast, occasional trumpet player and someone with endless energy to take on new projects and challenges. Most of all he was a kind, supportive and unfailingly generous friend.</p>
                      <p class="text-max-800 py-3">In October 2017 Jon unexpectedly and tragically took his own life at the age of 35.</p>
                      <p class="text-max-800 py-3">His family set up a charity in Jon’s memory, Jonathan's Voice, the purpose of which is to increase the understanding and awareness of suicide risk, particularly among young professional men, and educate organisations for the purpose of encouraging them to create effective support structures, policies and practice to support employees’ mental health and well-being.</p>
                      <p class="text-max-800 py-3">We’re also therefore running to support the fantastic work of Jonathan's Voice and other mental health charities which do so much to facilitate much-needed dialogue about mental health and suicide, as well as directly supporting individuals and their families.</p>
                      <p class="text-max-800 py-3">Finally, we’re all doing this as a challenge for ourselves and as a group. 2020 was a tough year, and 2021 is set to continue to test us all. This challenge is a way for each of us, individually, to set goals that get us motivated, fit and mentally healthy across the whole year. It will also help keep a group of friends, dispersed across six countries, connected at a time when social contact and friendships are particularly hard to sustain and having mechanisms to talk to and support each other is so important.</p>
                    </div>
              </div>
          </div>
      </section>
      <!-- Carousel -->
      <section id="carousel" class="section-1 carousel showcase">
        <div class="overflow-holder">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2 class="super effect-static-text">Team</h2>
                        <p class="text-max-800">We’re a group of twelve friends from Durham University all of whom have an interest in raising awareness of mental health issues and want to take part in a running challenge together.</p>
                    </div>
                </div>
                <div class="swiper-container mid-slider items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-4.jpg" class="image-over">
                                        <img src="assets/images/work-4.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Ali Sargeant</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-5.jpg" class="image-over">
                                        <img src="assets/images/work-5.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Andy Edwards</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-6.jpg" class="image-over">
                                        <img src="assets/images/work-6.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Andrew Higgins</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-7.jpg" class="image-over">
                                        <img src="assets/images/work-7.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Ben Dixon</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-8.jpg" class="image-over">
                                        <img src="assets/images/work-8.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Dave Horsfall</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-9.jpg" class="image-over">
                                        <img src="assets/images/work-9.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Graham Micklem</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
        <!-- About [video] -->
        <section id="video" class="section-3 highlights image-center">
          <div class="container smaller">
              <div class="row text-center intro">
                  <div class="col-12">
                      <h2>24 Hour Relay</h2>
                      <p class="text-max-800">Get to know a little of our history and the road we traveled that took us to the level we are today.</p>
                  </div>
              </div>
              <div class="row text-center">
                  <div class="col-12 gallery">
                      <a href="https://www.youtube.com/watch?v=QXPtJ5rRM-M" class="square-image d-flex justify-content-center align-items-center">
                          <i class="icon bigger icon-control-play"></i>
                          <img src="assets/images/news-4.jpg" class="fit-image" alt="Fit Image">
                      </a>
                  </div>
              </div>
          </div>
      </section>